<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div id="upper-menu">

  </div>
<!--  <a href="/pat"><%=image_tag("kissa.jpg")%></a>-->
  <div id="placeholder-test">
    <%= image_tag("placeholder1.jpg") %>
  </div>

  <div class="info">
    <div id="infobox">

    </div>
    <div id="infobox">

    </div>
    <div id="infobox">

    </div>
    <div id="infobox">

    </div>
  </div>

</body>
</html>