<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <a href="/pat"><%=image_tag("kissa.jpg")%></a> 
</body>
</html>