// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  background-color: #DBDBDB;
}

#upper-menu {
  width: 100vw;
  background-color: dimgrey;
  height: 50px;
}

#placeholder-test {
  width: 100vw;
  height: 650px;
  overflow: hidden;
  margin-bottom: 10vh;
  background-color: white;
}

#placeholder-test h1 {
  font-family: 'Josefin Sans';
  color: #212121;
  font-size: 100px;
  letter-spacing: 3px;
}

.font-effect-anaglyph {
  margin: 10px;
}

.info {
  margin-right: 5vw;
}
#infobox {
  margin-left: 4vw;
  margin-bottom: 10vh;
  width: 25vw;
  height: 40vh;
  background-color: #2E2F30;
  position: relative;
  float: left;
  padding: 1vw;
}

#infobox p {
  color: lightgrey;
  font-family: 'Montserrat';
}

// font-family: 'Fredoka One', cursive;
// font-family: 'Megrim', cursive;
// font-family: 'Bungee Shade', cursive;